$sprite-{{options.sprite_type}}: (
	{{#items}}
	{{name}}: (
		offset-x: {{px.offset_x}},
		offset-y: {{px.offset_y}},
		width: {{px.width}},
		height: {{px.height}},
		total-width: {{px.total_width}},
		total-height: {{px.total_height}},
		image: "../{{img_dir}}/{{sprite_dir}}/{{{escaped_image}}}"
	),
	{{/items}}
);
