@mixin icon($icon-name) {
    content: $icon-name;
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
