{
    "env": {
        "browser": true,
        "node": false<% if (useBabel) { %>,
        "es6": true<% } %>
    },<% if (useBabel) { %>
    "settings": {
        "ecmascript": 6
    },
    "ecmaFeatures": {
        "modules": true<% if (useReact) { %>,
        "jsx": true<% } %>
    }<% if (useReact) { %>,
    "plugins": [
        "react"
    ]<% } %>,<% } %>
    "globals": {
        "console": true,
        "module": true,
        "require": true,
        "exports": true,
        "describe": true,
        "beforeEach": true,
        "afterEach": true,
        "it": true,
        "expect": true,
        "window": true,
        "document": true<% if (usejQuery) { %>,
        "$": true<% } %>
    },
    "rules": {
        // possible errors
        "comma-dangle": [2, "never"],
        "no-cond-assign": [2, "always"],
        "no-console": 1,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": [2, "functions"],
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": [2, "functions"],
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-regex-spaces": 2,
        "no-sparse-arrays": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "quote-props": [2, "as-needed"],
        "use-isnan": 2,
        "valid-jsdoc": 2,
        "valid-typeof": 2,

        // best practices
        "block-scoped-var": 2,
        "consistent-return": 2,
        "curly": 2,
        "dot-notation": 2,
        "dot-location": [2, "property"],
        "eqeqeq": 2,
        "guard-for-in": 2,
        "no-alert": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-redeclare": 2,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-sequences": 2,
        "no-warning-comments": 1,
        "no-with": 2,
        "radix": 2,
        "vars-on-top": 2,
        "wrap-iife": [2, "inside"],
        "yoda": 2,

        // strict mode
        "strict": [2, "global"],

        // variables
        "no-delete-var": 2,
        "no-shadow": 2,
        "no-undef-init": 2,
        "no-unused-vars": [2, {
            "vars": "all",
            "args": "none"
        }],
        "no-use-before-define": 0,

        // node
        "no-mixed-requires": 0,

        // stylistic issues
        "array-bracket-spacing": [2, "never"],
        "brace-style": [2, "1tbs", {
            "allowSingleLine": true
        }],
        "camelcase": 2,
        "comma-spacing": 2,
        "comma-style": [2, "last"],
        "computed-property-spacing": [2, "never"],
        "consistent-this": [2, "self"],
        "eol-last": 2,
        "func-names": 0,
        "func-style": [2, "expression"],
        "quotes": [1, "single"],
        "no-underscore-dangle": 0,
        "new-cap": [2, {
            "newIsCapExceptions": ["exports"],
            "capIsNewExceptions": []
        }]<% if (useReact) { %>,

        // react
        "react/display-name": 0,
        "react/jsx-boolean-value": 0,
        "react/jsx-closing-bracket-location": 2,
        "react/jsx-curly-spacing": 2,
        "react/jsx-indent-props": [2, 4],
        "react/jsx-max-props-per-line": 0,
        "react/jsx-no-duplicate-props": 2,
        "react/jsx-no-literals": 0,
        "react/jsx-no-undef": 2,
        "react/jsx-sort-prop-types": 0,
        "react/jsx-sort-props": 0,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-danger": 2,
        "react/no-did-mount-set-state": [1, "allow-in-func"],
        "react/no-did-update-set-state": 1,
        "react/no-multi-comp": 2,
        "react/no-set-state": 0,
        "react/no-unknown-property": 2,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 0,
        "react/require-extension": 2,
        "react/self-closing-comp": 2,
        "react/sort-comp": 2,
        "react/wrap-multilines": 2<% } %><% if (useBackbone) { %>,

        // backbone
        "backbone/collection-model": 2,
        "backbone/defaults-on-top": 2,
        "backbone/event-scope": 0, // unfortunately this errors on jQuery events too which can't pass scope
        "backbone/events-on-top": [2, [
            "id",
            "el",
            "tagName",
            "className"
        ]],
        "backbone/initialize-on-top": [2, {
            View: [
                "id",
                "el",
                "tagName",
                "className",
                "events"
            ],
            Model: [
                "defaults",
                "url",
                "urlRoot"
            ],
            Collection: [
                "model",
                "url",
                "comparator"
            ]
        }],
        "backbone/model-defaults": 2,
        "backbone/no-changed-set": 2,
        "backbone/no-collection-models": 2,
        "backbone/no-constructor": 2,
        "backbone/no-el-assign": 2,
        "backbone/no-model-attributes": 2,
        "backbone/no-native-jquery": 0,
        "backbone/no-silent": 0,
        "backbone/no-view-collection-models": 2,
        "backbone/no-view-model-attributes": 2,
        "backbone/no-view-onoff-binding": 2,
        "backbone/render-return": 2<% } %><% if (useBabel) { %>,

        // es6
        <% } %>
    }
}
